/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;

	max-width: 750px;
	margin: 0 auto;
}

header {
	position: sticky;
	top: 0;

	font-size: 18px;
	padding: 1rem;

	display: flex;
	align-items: center;
	gap: 0.5rem;

	background-color: #fff;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.builder {
	position: sticky;
	top: 4rem;

	margin: 2rem 1rem;
	padding: 1.25rem 1rem;
	border-radius: 4px;

	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	z-index: 100;
}

.builder .title {
	display: block;
	font-size: 18px;
	margin-bottom: 1rem;

	padding-bottom: 0.5rem;
	border-bottom: 1px solid #777;
}

.builder .subtitle {
	display: block;
	font-size: 14px;
	color: #ccc;
}

.builder p {
	margin-bottom: 0.5rem;
	padding-left: 0.5rem;
}

.options {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 0.1rem;
	row-gap: 0.1rem;

	margin-bottom: 1rem;
}

.slide input[type='text'] {
	grid-column: 1/3;

	display: block;
	outline: none;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	background-color: #eee;
	padding: 1rem;
}

.options input[type='radio'] {
	display: none;
}

.options label {
	font-size: 15px;
	cursor: pointer;
	display: block;
	text-align: center;
	padding: 1rem;
	max-height: 50px;
	border-radius: 4px;
	user-select: none;
	text-transform: capitalize;

	background-color: #eee;
}

.options label:hover,
.options input[type='radio']:checked + label {
	background-color: #000;
	color: #fff;
}

.slide-selector {
	max-width: 80%;
	margin: 0 auto;

	padding: 0.5rem 0.5rem 1rem;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.slide-selector .dot {
	display: inline-block;

	width: 20px;
	height: 5px;

	border-radius: 16px;
	background-color: #ccc;
	cursor: pointer;
	user-select: none;
}

.slide-selector .dot:hover,
.slide-selector .dot.active {
	background-color: #717171;
}

.slide /* :not(:first-child) */ {
	display: none;
}

.next,
.prev {
	cursor: pointer;
	user-select: none;

	position: absolute;
	top: 50%;
	margin-top: -12px;

	border-radius: 50%;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.prev {
	left: -16px;
}

.next {
	right: -16px;
}

.next:hover,
.prev:hover {
	background-color: #ccc;
}

.content {
	/* height: 100vh; */
	width: 100%;
	padding: 2rem;
	overflow-y: auto;
	scroll-behavior: smooth;
}

.poem {
	width: 100%;

	line-height: 1.8;
	word-spacing: 1.5;
	letter-spacing: 1.5;
}

.poem h3 {
	color: #777;
	font-weight: 400;
	font-size: 19px;

	margin-bottom: 1.5rem;
}

.poem h4 {
	color: #ccc;
	font-weight: 400;
	font-size: 17px;
}

.poem .verse {
	margin-bottom: 2rem;
	transition: 0.5s all ease;
}

.poem .verse.active {
	border-left: 1px dashed #ccc;
	padding-left: 1rem;
}

.poem h3,
.poem h4,
.poem .verse span {
	display: block;
	background-color: #ffffffaa;
}

.qrcode {
	position: absolute;
	top: 50%;
	right: 0;
}

footer {
	text-align: center;
	padding: 0 2rem 1rem;
	font-size: 11px;
	word-spacing: 1.5;
	letter-spacing: 1.5;
	color: #aaa;
}

/* Fading animation */
.fdade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 0.8s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

/* Medias */
@media screen and (max-width: 425px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.builder {
		margin: 1rem 1.5rem;
		top: 3.5rem;
	}

	.builder .title {
		font-size: 16px;
	}

	.builder .subtitle {
		display: block;
		font-size: 12px;
		color: #ccc;
	}

	.builder p {
		font-size: 14px;
	}

	.options label {
		font-size: 12px;
	}

	.content {
		padding: 0rem 2rem 1.5rem;
	}
}

@media print {
	.noprint,
	.noprint * {
		display: none !important;
	}

	.container {
		display: flex;
	}

	.poem .verse.active {
		border-left: none;
		padding-left: 0rem;
	}
}
