.builder {
	position: relative;

	margin: 2rem 1rem;
	border-radius: 4px;

	background-color: #fff;
}

.builder .title {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 1rem;
}

.question {
	display: none;
}

.question.active {
	display: initial;
}

.statement {
	font-size: 18px;
	margin-bottom: 0.75rem;
}

.answer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.answer input[type='text'],
.answer label {
	grid-column: 1/3;
}

.answer input[type='radio'] {
	display: none;
}

.answer label:hover {
	color: #fff;
	background-color: #777;
}

.answer input[type='radio']:checked + label {
	color: #fff;
	background-color: #000;
}

.prev,
.next {
	user-select: none;
	border-radius: 50%;
	color: #ccc;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.prev.active,
.next.active {
	cursor: pointer;
	color: #000;
}

.selector {
	max-width: 80%;
	margin: 0 auto;

	padding: 0.5rem 0.5rem 1rem;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.selector .dot {
	display: inline-block;

	width: 10px;
	height: 10px;

	border-radius: 16px;
	background-color: #ccc;
	cursor: pointer;
	user-select: none;
}

.selector .dot:hover,
.selector .dot.active {
	background-color: #717171;
}

.selector .dot.success {
	background-color: #72d323;
}
