.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;

    border-bottom: 1px solid var(--line-gray);
    background-color: #fff;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container,
.header-container {
    width: 100%;
    max-width: 750px;
    padding: 1rem;

    transition: 1s;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.logo {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.story-selector {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 0.75rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid var(--line-gray);
    border-radius: 4px;
}
