:root {
    /* Colors */
    --off-white: #fdfdfd;
    --gray: #bac0ca;
    --light-gray: #f3f4fa;
    --medium-gray: #aeb4b9;
    --dark-gray: #898a8b;
    --line-gray: #e7ebee;
    --primary: #68d388;
    --primary-light: #c2edda;
    --secondary: #f4b942;

    /* Measures */
    --max-width: 1024px;
    --sidebar-lenth: 5rem;
    --normal: 16px;
    --small: 11px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;

    margin-bottom: 2rem;

    border-bottom: 1px solid var(--line-gray);
    background-color: #fff;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container,
.header-container {
    width: 100%;
    max-width: 750px;
    padding: 1rem;

    transition: 1s;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
