@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
    /* Colors */
    --off-white: #fdfdfd;
    --gray: #bac0ca;
    --light-gray: #f3f4fa;
    --medium-gray: #aeb4b9;
    --dark-gray: #898a8b;
    --line-gray: #e7ebee;
    --primary: #68d388;
    --primary-light: #c2edda;
    --secondary: #f4b942;

    /* Measures */
    --max-width: 1024px;
    --sidebar-lenth: 5rem;
    --normal: 16px;
    --small: 11px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
}

input,
label {
    width: 100%;
    display: block;

    font-size: 16px;
    padding: 1rem;
    margin-bottom: 0.75rem;

    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #eee;
}

select {
    color: black;
    font-size: 14px;
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
}

button {
    color: black;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

button:active,
button:hover {
    color: green;
}

/* COMMON */
.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.gap-1 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 1rem;
}

/* SHADOWS */

.shadow {
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.shadow-sm {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* ANIMATIONS */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 0.8s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
